
# generic
*.tmp
*.swp
*.pyc
*.pyo
*.bak
*.egg-info
*.EGG-INFO
.coverage
.settings

# eclipse
.project
.pydevproject

# setuptools
bin/
build/
dist/
setup.py

# buildout
.installed*.cfg
.cache/
eggs/
develop-eggs/
parts/
bootstrap.py
__version__.py

# scm
.bzr/
.svn/
.hg/
